requests>=2.32.0
pandas>=2.0.0
tqdm>=4.64.0
sqlalchemy>=2.0.0
openpyxl>=3.0.0

certifi==2025.10.5
charset-normalizer==3.4.3
idna==3.11
python-dotenv==1.1.1
urllib3==2.5.0

pygount>=3.1.0
radon>=6.0.1

matplotlib>=3.10.7

lizard==1.19.0